﻿
@{
    ViewData["Title"] = "Buscar";
}

<div class="row">
    <div class="col-md-6">
        <form class="" asp-action="DateFilter">
            <fieldset>
                <legend>
                    Buscar por data
                </legend>

                <div class="form-group">
                    <label for="minDate" class="control-label">Data inicial</label>
                    <div>
                        <input type="date" name="minDate" class="form-control" />
                    </div>
                </div>

                <div class="form-group">
                    <label for="maxDate" class="control-label">Data final</label>
                    <div>
                        <input type="date" name="maxDate" class="form-control" />
                    </div>
                </div>

                <div class="form-group">
                    <div>
                        <button type="submit" class="btn btn-primary">Buscar</button>
                    </div>
                </div>
            </fieldset>
        </form>
    </div>
</div>

<div class="row">
    <div class="col-md-6">
        <form class="form-horizontal" asp-action="KeywordFilter">
            <fieldset>
                <legend>
                    Buscar por ISBN
                </legend>

                <div class="form-group">
                    <label for="isbn" class="control-label">ISBN</label>
                    <div>
                        <input type="number" name="isbn" class="form-control" />
                    </div>
                </div>

                <div class="form-group">
                    <div>
                        <button type="submit" class="btn btn-secondary">Buscar</button>
                    </div>
                </div>
            </fieldset>
        </form>
    </div>
</div>


