﻿@{
    ViewData["Title"] = "Home Page";
}



<h1 class="display-4">Loja de Livros</h1>
<p>
    Loja de livros. Deve ser possível visualizar listas de livros, realizar buscas e entrar nos detalhes de um livro lendo as principais informações.
    Não é preciso ter o processo de compra de livro.
    Pode ser utilizado algum template pronto, não é necessário layout customizado.
</p>

<h5>
    <u>
        Sobre os Livros
    </u>
</h5>
<p>
    Deve ter uma lista de livros com:
    Imagem da capa, título, ISBN, Editora, Autor, Sinopse, data de publicação e outros campos a desejar.
</p>
<p>
    Os seguintes filtros devem estar disponíveis:

    <ol class="list-unstyled">
        <li>
            Filtro por palavra chave
        </li>

        <li>
            Filtro por range de data
        </li>

        <li>
            Ordenação da busca por ordem alfabética (A - Z, Z - A)
        </li>
    </ol>
</p>

<p>
    Ao clicar em um livro, deve ser possível visualizar todas as informações do mesmo.
</p>

<h5>
    <u>
        Gestão dos livros
    </u>
</h5>
<p>Deve ter um CRUD de livros.</p>

<h5>
    <u>
        Usuários
    </u>
</h5>
<p>
    Deve ter um CRUD para gestão de usuários que podem acessar a plataforma.
    Deve ter configuração de roles para acesso às diferentes áreas.
</p>

<h5>
    <u>
        Login
    </u>
</h5>
<p>A plataforma só pode ser acessada através de um login efetuado por usuário cadastrado no item acima.</p>



